{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "printWidth": 250,
  "trailingComma": "all",
  "arrowParens": "always",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "endOfLine": "auto",
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"],
      "options": {
        "trailingComma": "all",
        "jsxBracketSameLine": true
      }
    }
  ]
}
